# Ambientes virtuais
venv/
.venv/

# Cache do Python
__pycache__
*.pyc
*.pyo
*.pyd

# Arquivos do Git
.git
.gitignore

# Arquivos do Docker
Dockerfile*
.dockerignore

# Arquivos de IDE
.vscode/
.idea/

# Banco de dados local
escola.db